.sg.contacto-tag { 
    padding: 4px 8px;
    border: none;

    .ant-typography {
        color: inherit;
    }
    &--default {
        background-color: var(--primary-color-4);
        color: var(--primary-color);
    }
    &--success {
        background-color: var(--success-color-4);
        color: var(--success-color);
    }
    &--danger {
        background-color: var(--danger-color-4);
        color: var(--danger-color);
    }
    &--progress {
        background-color: var(--primary-color-3);
        color: var(--primary-color);
    }
    &--disabled {
        background-color: var(--gray-5);
        color: var(--secondary-text-color);
    }
    &--warning {
        background-color: var(--warning-color-4);
        color: var(--warning-color);
    }
    &--secondary {
        background-color: var(--secondary-color-4);
        color: var(--secondary-color);
    }
    &--select {
        padding: 2px 4px;
        background-color: var(--primary-color-4);
        color: var(--primary-color);
    }
    &--round {
        display: flex !important;
        width: fit-content;
        align-items: center;
        background-color: transparent;
        border-radius: 12px;
        padding: 2px 8px !important;
        border: 1px solid var(--primary-color) !important;
        color: var(--primary-color);

        .ant-tag-close-icon {
            color: inherit;
            font-size: 14px;
        }
    }
    &--teamname {
        width: fit-content;
        padding: 2px 8px;
        background-color: var(--gray-6);
        border-radius: 2px;
        align-items: center;
        gap: 10px;

        .ant-typography {
            font-size: 10px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0; 
            color: var(--gray-1);
        }
    }
    .close-tag-icon {
        display: flex;
        align-items: center;
        align-content: center;
        height: 100%;
    }
}

.contacto-tag--select {
    display: flex;
    align-items: center;
}
