.sg.contacto-input-wrapper {
    .contacto-input {
        border-radius: 0;
        box-shadow: 0px 0px 8px rgba(106, 110, 128, 0.15);
        border: 1px solid var(--border-color-1);
        height: 36px;
        padding-left: 12px;
        & > * {
            line-height: 20px;
        }
        &:hover, &:active, &:focus, &[class*='focused'] {
            box-shadow: none;
            border: 1px solid var(--primary-color);
        }
        &[class*='focused'] {
            .contacto-icon {
                color: var(--primary-color);
            }
        }
        &[disabled], &[disabled]:hover {
            background-color:var(--gray-6);
            border: 1px solid var(--gray-6);
            box-shadow: none;
            &::placeholder {
                color: var(--gray-2);
            }
        }
        &--readonly:not(.increase-specificity) {
            box-shadow: none;
            background-color:var(--gray-6);
            color: var(--primary-text-color);
        }
        &.contacto-input--small {
            height: 28px;
        }
        &.contacto-input--search-box {
            box-shadow: none;
            padding-left: 8px;
        }
        &.contacto-input--no-shadow {
            box-shadow: none;
        }
    }
    .contacto-input-label-wrapper{
        margin-bottom: 4px;
        line-height: 0;
    }
}