.sg.contacto-radio-input {
    line-height: 20px;
    align-items: center;
    .ant-radio {
        top: 0;
        &-checked .ant-radio-inner {
            border-color: var(--primary-color);
        }

    }
    span {
        line-height: 20px;
        color: var(--primary-text-color);
    }

    &:hover .ant-radio-inner {
        border-color: var(--primary-color);
    }

    .ant-radio-inner {
        width: 20px;
        height: 20px;
        border-color: var(--gray-2);
        border-width: 2px;
        box-shadow: none;

        &:hover {
            border-color: var(--primary-color);
        }

        &:after {
            background-color: var(--primary-color);
            width: 10px;
            height: 10px;
            transform: scale(1) !important;
            top: 3px !important;
            left: 3px !important;
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }

    &[class*="disabled"] {
        .ant-radio-checked {
            .ant-radio-inner {
                border-color: var(--primary-color-2) !important;
            }

        }

        .ant-radio-inner {
            border-color: var(--gray-4) !important;
            background-color: var(--gray-6);

            &:after {
                background-color: var(--primary-color-2);
            }
        }
        span {
            color: var(--primary-text-color);
        }
    }
}