.top-banner {
    height: 36px;
    gap: 4px;
    &-buttons-container {
      gap: 16px;
    //   margin-left: 4px;
  
      .sg.cnto-btn.contacto-button--small {
        height: 24px;
        padding: 0;
        min-width: 0;
        font-weight: 600;
        color: white;
        text-decoration: underline;
      }
      .sg.ant-btn.cnto-btn.contacto-button--link:hover {
        color: white;
      }
    }
 
    &.default {
        background-color: var(--primary-text-color);
    }

    &.success {
      background-color: var(--success-color);
    }
  
    &.danger {
      background-color: var(--danger-color);
    }
  
    &.warning {
      background-color: var(--warning-color);
    }
  }
  