{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["src/icons/*"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": 0,
    "no-console": "warn",
    "max-len": ["warn", { "code": 108 }],
    "react/prop-types": [2, { "skipUndeclared": true }],
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "endOfLine": "auto"
      }
    ]
  }
}
