.sg.ant-btn.cnto-btn.contacto-button {
  min-width: 60px;
  padding: 8px 16px;
  height: 36px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &--primary {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--primary-color-6);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--white);
      background-color: var(--primary-color-2);
    }
  }

  &--secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover {
      color: var(--primary-color);
      background-color: var(--dark-bg);
      border: 1px solid var(--primary-color);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--primary-color-2);
      background-color: var(--white);
      border: 1px solid var(--primary-color-2);
    }
  }

  &--secondary-gray {
    //TODO:
    // Add disabled state and color when required
    border: 1px solid var(--border-color-1);

    &:hover {
      background-color: var(--dark-bg);
      border: 1px solid var(--primary-color);
    }
  }

  &--danger {
    &-primary {
      color: var(--white);
      background-color: var(--danger-color);

      &:hover {
        color: var(--white);
        background-color: var(--danger-color-5);
      }

      &[disabled],
      &[disabled]:hover {
        color: var(--white);
        background-color: var(--danger-color-2);
      }
    }

    &-secondary {
      color: var(--danger-color);
      border: 1px solid var(--danger-color);

      &:hover {
        color: var(--danger-color);
        background-color: var(--danger-color-4);
        border: 1px solid var(--danger-color);
      }

      &[disabled],
      &[disabled]:hover {
        color: var(--danger-color-2);
        border: 1px solid var(--danger-color-2);
        background-color: var(--white)
      }
    }
  }

  &--link {
    color: var(--primary-color);
    font-weight: 600;
    background: none;
    box-shadow: none;

    &:hover {
      color: var(--primary-color-6);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--primary-color-2);
      background-color: var(--white);
    }
  }

  &[class*="link"]:hover {
    background-color: transparent;
  }

  &--link-danger {
    color: var(--danger-color);
    font-weight: 600;
    background: none;
    box-shadow: none;

    &:hover {
      color: var(--danger-color-5);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--danger-color-2);
      background-color: var(--white);
    }
  }

  &--small {
    height: 28px;
    padding: 4px 8px;

    &.contacto-button--with-icon {
      padding-left: 4px;

      .contacto-icon {
        margin-right: 4px;
      }
    }
  }

  &--large {
    height: 44px;
    padding: 12px 16px;
  }

  &--extra-large {
    height: 56px;
    padding: 16px;
  }

  &--full-width {
    width: 100%;
    justify-content: center;
  }

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--with-icon {
    padding-left: 8px;
  }

  &--table-action-link {
    color: var(--secondary-text-color);
    padding: 8px 0px;
    padding-left: 0;
    min-width: auto;
    background: none;
    box-shadow: none;

    &:hover {
      color: var(--primary-color);
      background-color: #fff;
    }
  }

  &--underline {
    text-decoration: underline;
    height: 24px;
    padding: 0;
    min-width: 0;
  }

  .contacto-icon {
    margin-right: 8px
  }

  &--only-icon {
    padding: 4px;
    min-width: auto;
    width: auto;

    .contacto-icon {
      margin-right: 0 !important;

      &.small {
        font-size: 20px;
      }
    }
  }
  &[ant-click-animating-without-extra-node]:after {
    animation: 0s !important;
 }
}