.sg.contacto-card { 
  margin: 24px;
  .ant-card-head {
      padding: 0 16px;
  }
  .ant-card-body {
      padding: 16px;
  }
  .contacto-table-wrapper {
    margin: 0 -16px;
  }
  .contacto-card-subtitle {
    white-space: normal;
    padding-right: 32px;
  }
  &.contacto-card-align-top .ant-card-head-wrapper {
    align-items: flex-start;
  }
}
