.sg.ant-btn.cnto-btn.contacto-button {
  min-width: 80px;
  padding: 8px 16px;
  height: 36px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;

  &--primary {
    background-color: var(--primary-color);
    color: var(--white);

    &:hover,
    &:focus {
      color: var(--white);
      background-color: var(--primary-color-5);
    }

    &[disabled], &[disabled]:hover {
      color: var(--white);
      background-color: var(--primary-color-2);
    }
  }

  &--secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover,
    &:focus {
      color: var(--primary-color);
      background-color: var(--dark-bg);
      border: 1px solid var(--primary-color);
    }

    &[disabled], &[disabled]:hover {
      color: var(--primary-color-2);
      background-color: var(--white);
      border: 1px solid var(--primary-color-2);
    }
  }

  &--danger {
    &-primary {
      color: var(--white);
      background-color: var(--danger-color);

      &:hover,
      &:focus {
        color: var(--white);
        background-color: var(--danger-color-5);
      }

      &[disabled], &[disabled]:hover {
        color: var(--white);
        background-color: var(--danger-color-2);
      }
    }

    &-secondary {
      color:var(--danger-color);
      border: 1px solid var(--danger-color);

      &:hover,
      &:focus {
        color: var(--danger-color);
        background-color: var(--danger-color-4);
        border: 1px solid var(--danger-color);
      }

      &[disabled], &[disabled]:hover {
        color: var(--danger-color-2);
        border: 1px solid var(--danger-color-2);
        background-color: var(--white)
      }
    }
  }

  &--link {
    color: var(--primary-color);
    font-weight: 600;
    &:hover,
    &:focus {
      color: var(--primary-color-5);
    }

    &[disabled], &[disabled]:hover {
      color: var(--primary-color-2);
      background-color: var(--white);
    }
  }

  &--link-danger {
    color: var(--danger-color);
    font-weight: 600;
    &:hover,
    &:focus {
      color: var(--danger-color-5);
    }

    &[disabled], &[disabled]:hover {
      color: var(--danger-color-2);
      background-color: var(--white);
    }
  }

  &--small {
    height: 28px;
    padding: 4px 8px;
  }

  &--with-icon {
    padding-left: 8px;
  }

  &--table-action-link {
    color: var(--secondary-text-color);
    padding: 8px 0px;
    padding-left: 0;
    min-width: auto;
    &:hover,
    &:focus {
      color: var(--primary-color);
    }
  }

  .contacto-icon {
    margin-right: 8px
  }

  &--only-icon {
    padding: 8px;
    min-width: auto;
    width: auto;
    .contacto-icon {
      margin-right: 0;
      &.small {
        font-size: 20px;
      }
    }
  }
}