.sg.contacto-jsoneditor {
    .key {
        .contacto-icon {
           flex-shrink: 0;
        }
       }
    .schema-editor {
        
        .object .object .item::before {
            width: 2px;
            background-color: var(--primary-color-3);
        }
        .object .object .item::after {
            height: 2px;
            background-color: var(--primary-color-3);
        }
        .select-boxes {
            flex: 1; 
            align-items: center;
            > div {
                flex: 0 1 240px;
            }
        }
        .object .item {
            align-items: flex-start;
        }
    }

    .static-list-item {
         > div:first-child {
            display: none !important;
        }
        &:before, &:after {
            display: none !important;
        }
        > .object {
            margin-top: -24px;
            .item {
                &::before, &:after {
                 transform: translateX(-32px);
                }
                .key {
                 position: relative;
                 left: -32px;
                 .contacto-icon {
                    flex-shrink: 0;
                 }
                }
             }
        }
    }

    &.schema {
        .object .object .item:first-child::before {
            height: calc(100% + 50px);
            top: -18px;
        }
        .object .object .item:only-child::before {
            height: 36px;
        }
    }


    .add-related-info {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        flex: 0 !important;
        &:after {
            content: '';
            opacity: 0;
            flex-shrink: 0;
        }
        &:hover {
            > * {
            color: var(--primary-color) !important;    
            }
            &:after {
                content: 'Get related information';
                opacity: 1;
                font-size: 14px;
                line-height: 20px;
                color: var(--primary-color);

            }
        }
    }
}

.textfield-width {
    width: 280px;
}

.related-value {
    &:before {
        top: -44px !important;
        height: calc(100% + 24px) !important;
    }
}