.sg.contacto-card {
  --padding: 16px;
  margin: 24px;
  max-height: calc(100% - 48px);
  height: auto;
  display: flex;
  flex-flow: column;

  .ant-card-head {
    padding: 0 var(--padding);
    flex-shrink: 0;
  }

  .ant-card-body {
    padding: 0;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
  }

  .contacto-table-wrapper {
    margin: 0 calc(-1 * var(--padding));
  }

  .contacto-card-subtitle {
    white-space: normal;
    padding-right: 32px;
    line-height: 0;
  }

  &.contacto-card-align-top .ant-card-head-wrapper {
    align-items: flex-start;
  }

  &--has-table-layout {
    display: flex;
    flex-flow: column;

    .contacto-table-layout,
    .contacto-table-wrapper,
    .contacto-table-layout-card-section,
    .contacto-table,
    .contacto-table .ant-spin-nested-loading,
    .contacto-table .ant-spin-container,
    .ant-table,
    .ant-table-container {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-flow: column;
    }
    .contacto-table .ant-table-body tr:last-child td {
      border-bottom: 0;
    }
  }

  .contacto-card-section {
    padding: var(--padding);
    border-bottom: 1px solid var(--border-color-1);

    &--scroll-y {
      overflow-y: auto
    }

    &.contacto-table-layout-card-section {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-flow: column;

      &:last-child {
        padding-bottom: 0;
        border: 0;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .contacto-card-footer-section {
    border-top: 1px solid var(--border-color-1);
  }
}