.sg.contacto-icon {
    user-select: none;
    display: inline-block;

}

.sg.contacto-loader {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    line-height: 0;
    animation: rotate-loading 1s infinite linear;
}

@keyframes rotate-loading {
    to {
        transform: rotate(360deg)
    }
}