.sg.contacto-modal {
    .ant-modal-header {
        padding: 16px;
    }
    .ant-modal-body {
        padding: 24px 16px;
    }
    .ant-modal-footer {
        padding: 16px;
        .contacto-modal-footer-block {
            gap: 16px;
        }
    }
    
}