.sg.contacto-sider.ant-layout-sider { 
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) -3px 0px 6px;
  padding: 32px 16px 16px;
  &.contacto-sider--no-padding {
      padding: 32px 0 0;
      .contacto-sider-title {
       padding: 0 16px;
    }
  }
  .contacto-sider-title {
      margin-bottom: 32px;
  }
}
