.sg.contacto-icon {
    user-select: none;
}
.sg.contacto-loader {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    animation: rotate-loading 1s infinite linear;
    &:after {
        content: '';
        position: absolute;
        width: 60%;
        height: 100%;
        background: white;
    }
}

@keyframes rotate-loading {
    to{
      transform: rotate(360deg)
    }
  }