.sg.contacto-input-wrapper {
  &.show-count-padding {
    padding-top: 20px;
  }

  .contacto-input {
    border-radius: 0;
    box-shadow: var(--box-shadow-default);
    border: 1px solid var(--border-color-1);
    height: 36px;
    padding-left: 12px;

    & > * {
      line-height: 20px;
    }

    &.ant-input-status-error {
      box-shadow: none !important;
    }

    &-text-area-show-count {
      box-shadow: var(--box-shadow-default);
      &--readonly:not(.increase-specificity) {
        &,
        & textarea {
          box-shadow: none;
          border: 1px solid var(--border-color-1);
          background-color: var(--gray-6);
          color: var(--primary-text-color);
        }
      }

      &.contacto-input-text-area-show-count--no-shadow {
        box-shadow: none;
      }

      .ant-input {
        &:not(.ant-input-disabled) {
          &:hover,
          &:active,
          &:focus,
          &[class*='focused'] {
            border-color: var(--primary-color);
          }
        }
        box-shadow: none !important;
      }
      &.show-count {
        padding: 0px;
      }
      padding-right: 12px;
      &:after {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #9b9faa;
        position: absolute;
        top: -22px;
        right: 0;
      }
    }

    &.ant-input-affix-wrapper {
      input {
        border: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
      }
      &.ant-input-affix-wrapper-status-error {
        box-shadow: none;
      }

      &.show-count {
        padding: 0px;
        .count-margin {
          margin-right: 12px;
        }
        .count-top {
          position: absolute;
          top: -23px;
          right: 0;
        }
      }
      padding-right: 12px;
    }

    &.ant-input-textarea {
      height: inherit;
    }

    .ant-input-prefix {
      margin-left: auto;
    }

    &:hover,
    &:active,
    &:focus,
    &[class*='focused']:not(.ant-input-affix-wrapper-focused.ant-input-affix-wrapper-status-error) {
      border: 1px solid var(--primary-color);
    }

    &[class*='focused'] {
      .contacto-icon {
        color: var(--primary-color);
      }
    }

    &::placeholder {
      color: var(--gray-2);
    }

    &[disabled],
    &[disabled]:hover {
      background-color: var(--gray-6);
      border: 1px solid var(--border-color-1) !important;
      box-shadow: none !important;
    }

    &--readonly:not(.increase-specificity) {
      &,
      & input {
        box-shadow: none;
        background-color: var(--gray-6);
        color: var(--primary-text-color);
      }

      &:hover {
        border: 1px solid var(--border-color-1);
      }
    }

    .contacto-icon--input-suffix {
      position: absolute;
      cursor: pointer;
      font-size: 20px;
      right: 12px;
      z-index: 1000;
      color: var(--gray-1);
    }

    .contacto-icon--input-prefix {
      cursor: pointer;
    }

    &.contacto-input--small {
      height: 28px;
    }

    &.contacto-input--large {
      height: 44px;
    }

    &.contacto-input--search-box {
      box-shadow: none;
      padding-left: 8px;
    }

    &.contacto-input--no-shadow {
      box-shadow: none;
    }

    .anticon.ant-input-clear-icon {
      font-size: 14px;
    }

    .ant-input::placeholder {
      color: var(--gray-2);
    }
  }

  .contacto-input-label-wrapper {
    margin-bottom: 4px;
    line-height: 0;
  }
}

.sg.contacto-form-input.ant-form-item {
  margin: 0;
  .ant-form-item-explain-error {
    color: var(--danger-color);
    font-size: 12px;
    margin-top: 4px;
    min-height: auto;
  }
  .ant-form-item-explain {
    display: none;
  }

  &.ant-form-item-has-error {
    .ant-form-item-explain {
      display: none;
    }
    .sg.contacto-input-wrapper .contacto-input {
      box-shadow: var(--box-shadow-default);
      border: 1px solid var(--danger-color);
    }
  }
}

.textbox {
  &.has-error {
    border: 1px solid var(--danger-color) !important;
    .contacto-select:hover:not(.ant-select-disabled),
    .contacto-select[class*='focused']:not(.ant-select-disabled) {
      border: none;
    }
    .contacto-select {
      border: none;
      box-shadow: none;
    }
  }

  .ant-input-password-icon {
    color: var(--gray-1) !important;
  }
}