.contacto-audio-player {
  .audio-controls {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .audio-controls-play-pause {
      min-width: 38px;
	  max-width: 38px;
      height: 36px;
      padding: 0;
      border: none;
      box-shadow: none;

      &::after {
        display: none;
      }
    }
    .audio-controls-wave-bar {
      flex: 1;
      margin-left: 8px;
      margin-right: 8px;
    }

    .audio-controls-time {
      width: max-content;
      min-width: max-content;

      &.left {
        margin-left: 24px;
      }
    }

	.audio-controls-wave-bar {
		height: 24px;
		background-color: transparent;
		overflow: hidden;
		transition: height 0.3s ease-in-out;
		display: flex;
		align-items: center;
		cursor: pointer;

		div {
			width: 100%;
		}
	}
  }
  &.loading {
	.audio-controls-wave-bar {
		height: 2px;
		background-color: var(--gray-4);
	}
  }
}

.contacto-player-speed {
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 16px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;

      .contacto-player-speed-button {
        display: flex;
        min-width: 48px !important;
        max-width: 48px !important;
        justify-content: center;
        align-items: center;
        box-shadow: none;
      }
    }
  }
}
