.sg.contacto-table-layout {
    .ant-pagination-item {
        display: none;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
        height: auto;
        min-width: auto;
        line-height: initial;
        color: var(--gray-1);
        &.ant-pagination-disabled {
            color: var(--gray-3);
        }
    }
    .ant-pagination-total-text, .ant-pagination-prev {
        margin-right: 16px;
    }

    .ant-table-pagination {
        align-items: center;
    }
}